@import "tailwindcss";

.geist-font {
  font-family: "Geist", sans-serif;
  font-style: normal;
}

.interviewStyle {
  color: green;
  border: 2px solid green;
  background-color: lightgreen;
  box-shadow: 0px 8px 10px rgba(8, 104, 25, 0.5);
}
.rejectedStyle {
  color: rgb(128, 0, 0);
  border: 2px solid rgb(128, 0, 0);
  background-color: rgb(250, 5, 5, 0.2);
  box-shadow: 0px 8px 10px rgba(128, 0, 0, 0.2);
}

